@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background-image: -webkit-gradient(
        radial,
        50% 50%,
        0,
        50% 50%,
        100,
        color-stop(0%, #374566),
        color-stop(100%, #010203)
    );
    background-image: -webkit-radial-gradient(#374566, #010203);
    background-image: -moz-radial-gradient(#374566, #010203);
    background-image: -o-radial-gradient(#374566, #010203);
    background-image: radial-gradient(#374566, #010203);
    font-family: 'Lobster', cursive;
}
span {
    text-transform: uppercase;
}
.container {
    width: 800px;
    height: 100%;
    padding: 10px;
    margin: 0 auto;
    position: relative;
}
.balloon {
    width: 738px;
    margin: 0 auto;
    padding-top: 30px;
    position: relative;
    font-family: "Wendy One", sans-serif;
}
.balloon > div {
    width: 104px;
    height: 140px;
    background: rgba(182, 15, 97, 0.9);
    border-radius: 0;
    border-radius: 80% 80% 80% 80%;
    margin: 0 auto;
    position: absolute;
    padding: 10px;
    box-shadow: inset 17px 7px 10px rgba(182, 15, 97, 0.9);
    -webkit-transform-origin: bottom center;
}
.balloon > div:nth-child(1) {
    background: rgba(182, 15, 97, 0.9);
    left: 80px;
    box-shadow: inset 10px 10px 10px rgba(135, 11, 72, 0.9);
    -webkit-animation: balloon1 6s ease-in-out infinite;
    -moz-animation: balloon1 6s ease-in-out infinite;
    -o-animation: balloon1 6s ease-in-out infinite;
    animation: balloon1 6s ease-in-out infinite;
}
.balloon > div:nth-child(1):before {
    color: rgba(182, 15, 97, 0.9);
}
.balloon > div:nth-child(2) {
    background: rgba(242, 112, 45, 0.9);
    left: 200px;
    box-shadow: inset 10px 10px 10px rgba(222, 85, 14, 0.9);
    -webkit-animation: balloon2 6s ease-in-out infinite;
    -moz-animation: balloon2 6s ease-in-out infinite;
    -o-animation: balloon2 6s ease-in-out infinite;
    animation: balloon2 6s ease-in-out infinite;
}
.balloon > div:nth-child(2):before {
    color: rgba(242, 112, 45, 0.9);
}
.balloon > div:nth-child(3) {
    background: rgba(45, 181, 167, 0.9);
    left: 320px;
    box-shadow: inset 10px 10px 10px rgba(35, 140, 129, 0.9);
    -webkit-animation: balloon4 6s ease-in-out infinite;
    -moz-animation: balloon4 6s ease-in-out infinite;
    -o-animation: balloon4 6s ease-in-out infinite;
    animation: balloon4 6s ease-in-out infinite;
}
.balloon > div:nth-child(3):before {
    color: rgba(45, 181, 167, 0.9);
}
.balloon > div:nth-child(4) {
    background: rgba(190, 61, 244, 0.9);
    left: 440px;
    box-shadow: inset 10px 10px 10px rgba(173, 14, 240, 0.9);
    -webkit-animation: balloon1 5s ease-in-out infinite;
    -moz-animation: balloon1 5s ease-in-out infinite;
    -o-animation: balloon1 5s ease-in-out infinite;
    animation: balloon1 5s ease-in-out infinite;
}
.balloon > div:nth-child(4):before {
    color: rgba(190, 61, 244, 0.9);
}
.balloon > div:nth-child(5) {
    background: rgba(180, 224, 67, 0.9);
    left: 550px;
    box-shadow: inset 10px 10px 10px rgba(158, 206, 34, 0.9);
    -webkit-animation: balloon3 5s ease-in-out infinite;
    -moz-animation: balloon3 5s ease-in-out infinite;
    -o-animation: balloon3 5s ease-in-out infinite;
    animation: balloon3 5s ease-in-out infinite;
}
.balloon > div:nth-child(5):before {
    color: rgba(180, 224, 67, 0.9);
}
.balloon > div:nth-child(6) {
    background: rgba(242, 194, 58, 0.9);
    left: -150px;
    top: 200px;
    box-shadow: inset 10px 10px 10px rgba(234, 177, 15, 0.9);
    -webkit-animation: balloon4 3s ease-in-out infinite;
    -moz-animation: balloon4 3s ease-in-out infinite;
    -o-animation: balloon4 3s ease-in-out infinite;
    animation: balloon4 3s ease-in-out infinite;
}
.balloon > div:nth-child(6):before {
    color: rgba(242, 194, 58, 0.9);
}

/* ================= 7 ====================== */
.balloon > div:nth-child(7) {
    background: rgba(45, 181, 167, 0.9);
    left: -30px;
    top: 200px;
    box-shadow: inset 10px 10px 10px rgba(45, 181, 167, 0.9);
    -webkit-animation: balloon3 5s ease-in-out infinite;
    -moz-animation: balloon3 5s ease-in-out infinite;
    -o-animation: balloon3 5s ease-in-out infinite;
    animation: balloon3 5s ease-in-out infinite;
}
.balloon > div:nth-child(7):before {
    color: rgba(45, 181, 167, 0.9);
}

/* ================= 8 ====================== */
.balloon > div:nth-child(8) {
    background: rgba(242, 58, 165, 0.9);
    left: 90px;
    top: 200px;
    box-shadow: inset 10px 10px 10px rgba(242, 58, 165, 0.9);
    -webkit-animation: balloon2 3s ease-in-out infinite;
    -moz-animation: balloon2 3s ease-in-out infinite;
    -o-animation: balloon2 3s ease-in-out infinite;
    animation: balloon2 3s ease-in-out infinite;
}
.balloon > div:nth-child(8):before {
    color: rgba(242, 58, 165, 0.9);
}

/* ================= 9 ====================== */
.balloon > div:nth-child(9) {
    background: rgba(182, 15, 97, 0.9);
    left: 210px;
    top: 200px;
    box-shadow: inset 10px 10px 10px rgba(182, 15, 97, 0.9);
    -webkit-animation: balloon4 5s ease-in-out infinite;
    -moz-animation: balloon4 5s ease-in-out infinite;
    -o-animation: balloon4 5s ease-in-out infinite;
    animation: balloon4 5s ease-in-out infinite;
}
.balloon > div:nth-child(9):before {
    color: rgba(182, 15, 97, 0.9);
}

/* ================= 10 ====================== */
.balloon > div:nth-child(10) {
    background: rgba(242, 194, 58, 0.9);
    left: 330px;
    top: 200px;
    box-shadow: inset 10px 10px 10px rgba(234, 177, 15, 0.9);
    -webkit-animation: balloon1 6s ease-in-out infinite;
    -moz-animation: balloon1 6s ease-in-out infinite;
    -o-animation: balloon1 6s ease-in-out infinite;
    animation: balloon1 6s ease-in-out infinite;
}
.balloon > div:nth-child(10):before {
    color: rgba(242, 194, 58, 0.9);
}

/* ================= 11 ====================== */
.balloon > div:nth-child(11) {
    background: rgba(234, 15, 15, 0.9);
    left: 450px;
    top: 200px;
    box-shadow: inset 10px 10px 10px rgba(234, 15, 15, 0.9);
    -webkit-animation: balloon2 4s ease-in-out infinite;
    -moz-animation: balloon2 4s ease-in-out infinite;
    -o-animation: balloon2 4s ease-in-out infinite;
    animation: balloon2 4s ease-in-out infinite;
}
.balloon > div:nth-child(11):before {
    color: rgba(234, 15, 15, 0.9);
}

/* ================= 12 ====================== */
.balloon > div:nth-child(12) {
    background: rgba(64, 241, 28, 0.9);
    left: 580px;
    top: 200px;
    box-shadow: inset 10px 10px 10px rgba(64, 241, 28, 0.9);
    -webkit-animation: balloon1 3s ease-in-out infinite;
    -moz-animation: balloon1 3s ease-in-out infinite;
    -o-animation: balloon1 3s ease-in-out infinite;
    animation: balloon1 3s ease-in-out infinite;
}
.balloon > div:nth-child(12):before {
    color: rgba(64, 241, 28, 0.9);
}

/* ================= 13 ====================== */
.balloon > div:nth-child(13) {
    background: rgba(15, 219, 234, 0.9);
    left: 700px;
    top: 200px;
    box-shadow: inset 10px 10px 10px rgba(15, 219, 234, 0.9);
    -webkit-animation: balloon2 6s ease-in-out infinite;
    -moz-animation: balloon2 6s ease-in-out infinite;
    -o-animation: balloon2 6s ease-in-out infinite;
    animation: balloon2 6s ease-in-out infinite;
}
.balloon > div:nth-child(13):before {
    color: rgba(15, 219, 234, 0.9);
}
/* ================= 14 ====================== */
.balloon > div:nth-child(14) {
    background: rgba(15, 219, 234, 0.9);
    left: 820px;
    top: 200px;
    box-shadow: inset 10px 10px 10px rgba(15, 219, 234, 0.9);
    -webkit-animation: balloon2 6s ease-in-out infinite;
    -moz-animation: balloon2 6s ease-in-out infinite;
    -o-animation: balloon2 6s ease-in-out infinite;
    animation: balloon2 6s ease-in-out infinite;
}
.balloon > div:nth-child(13):before {
    color: rgba(15, 219, 234, 0.9);
}

/* Avatar  */
.avatar {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: calc(50% - 100px);
}

.avatar__img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid rgba(234, 15, 150, 0.9);
    box-shadow: inset 10px 10px 10px rgba(15, 219, 234, 0.9);
    -webkit-animation: balloon1 6s ease-in-out infinite;
    -moz-animation: balloon1 6s ease-in-out infinite;
    -o-animation: balloon1 6s ease-in-out infinite;
    animation: balloon1 6s ease-in-out infinite;
}

.avatar__title {
    cursor: pointer;
    margin-top: -100px;
    -webkit-animation: balloon1 4s ease-in-out infinite;
    -moz-animation: balloon1 4s ease-in-out infinite;
    -o-animation: balloon1 4s ease-in-out infinite;
    animation: balloon1 4s ease-in-out infinite;
}
.balloon > div:before {
    color: rgba(182, 15, 97, 0.9);
    position: absolute;
    bottom: -11px;
    left: 52px;
    content: "▲";
    font-size: 1em;
}
span {
    font-size: 4.8em;
    color: white;
    position: relative;
    top: 30px;
    left: 50%;
    margin-left: -27px;
}
.bg-balloon {
    position: absolute;
    width: 180px;
    height: 220px;
    border-radius: 50%;
    background: rgba(215, 7, 66, 0.08);
    animation: floatBg 12s ease-in-out infinite;
}

@keyframes floatBg {
    50% { transform: translateY(-40px); }
}
/*BALLOON 1 4*/
@-webkit-keyframes balloon1 {
    0%,
    100% {
        -webkit-transform: translateY(0) rotate(-6deg);
    }
    50% {
        -webkit-transform: translateY(-20px) rotate(8deg);
    }
}
@-moz-keyframes balloon1 {
    0%,
    100% {
        -moz-transform: translateY(0) rotate(-6deg);
    }
    50% {
        -moz-transform: translateY(-20px) rotate(8deg);
    }
}
@-o-keyframes balloon1 {
    0%,
    100% {
        -o-transform: translateY(0) rotate(-6deg);
    }
    50% {
        -o-transform: translateY(-20px) rotate(8deg);
    }
}
@keyframes balloon1 {
    0%,
    100% {
        transform: translateY(0) rotate(-6deg);
    }
    50% {
        transform: translateY(-20px) rotate(8deg);
    }
}
/* BAllOON 2 5*/
@-webkit-keyframes balloon2 {
    0%,
    100% {
        -webkit-transform: translateY(0) rotate(6eg);
    }
    50% {
        -webkit-transform: translateY(-30px) rotate(-8deg);
    }
}
@-moz-keyframes balloon2 {
    0%,
    100% {
        -moz-transform: translateY(0) rotate(6deg);
    }
    50% {
        -moz-transform: translateY(-30px) rotate(-8deg);
    }
}
@-o-keyframes balloon2 {
    0%,
    100% {
        -o-transform: translateY(0) rotate(6deg);
    }
    50% {
        -o-transform: translateY(-30px) rotate(-8deg);
    }
}
@keyframes balloon2 {
    0%,
    100% {
        transform: translateY(0) rotate(6deg);
    }
    50% {
        transform: translateY(-30px) rotate(-8deg);
    }
}
/* BAllOON 0*/
@-webkit-keyframes balloon3 {
    0%,
    100% {
        -webkit-transform: translate(0, -10px) rotate(6eg);
    }
    50% {
        -webkit-transform: translate(-20px, 30px) rotate(-8deg);
    }
}
@-moz-keyframes balloon3 {
    0%,
    100% {
        -moz-transform: translate(0, -10px) rotate(6eg);
    }
    50% {
        -moz-transform: translate(-20px, 30px) rotate(-8deg);
    }
}
@-o-keyframes balloon3 {
    0%,
    100% {
        -o-transform: translate(0, -10px) rotate(6eg);
    }
    50% {
        -o-transform: translate(-20px, 30px) rotate(-8deg);
    }
}
@keyframes balloon3 {
    0%,
    100% {
        transform: translate(0, -10px) rotate(6eg);
    }
    50% {
        transform: translate(-20px, 30px) rotate(-8deg);
    }
}
/* BAllOON 3*/
@-webkit-keyframes balloon4 {
    0%,
    100% {
        -webkit-transform: translate(10px, -10px) rotate(-8eg);
    }
    50% {
        -webkit-transform: translate(-15px, 20px) rotate(10deg);
    }
}
@-moz-keyframes balloon4 {
    0%,
    100% {
        -moz-transform: translate(10px, -10px) rotate(-8eg);
    }
    50% {
        -moz-transform: translate(-15px, 10px) rotate(10deg);
    }
}
@-o-keyframes balloon4 {
    0%,
    100% {
        -o-transform: translate(10px, -10px) rotate(-8eg);
    }
    50% {
        -o-transform: translate(-15px, 10px) rotate(10deg);
    }
}
@keyframes balloon4 {
    0%,
    100% {
        transform: translate(10px, -10px) rotate(-8eg);
    }
    50% {
        transform: translate(-15px, 10px) rotate(10deg);
    }
}
@keyframes flyUp {
    from { transform: translateY(0); }
    to { transform: translateY(-400px); }
}

.balloon > div {
    animation: flyUp 10s linear infinite;
}
h1 {
    position: relative;
    top: 200px;
    text-align: center;
    color: white;
    font-size: 3.5em;
}
.swal-overlay {
    background-color: rgba(218, 57, 177, 0.45);
}

.swal-text {
    font-size: 20px;
    font-weight: 200;
    word-spacing: 5px;
}
/* ================= BACKGROUND FLOATING BALLOONS ================ */

.container::before,
.container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
}

/* lớp bóng xa */
.container::before {
    background-image:
        radial-gradient(circle at 10% 20%, rgba(253, 6, 6, 0.06) 0 60px, transparent 61px),
        radial-gradient(circle at 80% 30%, rgba(250, 9, 9, 0.05) 0 90px, transparent 91px),
        radial-gradient(circle at 40% 70%, rgba(255,255,255,0.05) 0 70px, transparent 71px),
        radial-gradient(circle at 90% 80%, rgba(216, 13, 13, 0.04) 0 50px, transparent 51px);
    animation: bgFloat1 18s ease-in-out infinite;
}

/* lớp bóng gần */
.container::after {
    background-image:
        radial-gradient(circle at 20% 90%, rgba(154, 18, 18, 0.05) 0 80px, transparent 81px),
        radial-gradient(circle at 70% 60%, rgba(255,255,255,0.06) 0 60px, transparent 61px),
        radial-gradient(circle at 50% 10%, rgba(255,255,255,0.04) 0 100px, transparent 101px);
    animation: bgFloat2 22s ease-in-out infinite;
}

@keyframes bgFloat1 {
    50% { transform: translateY(-35px); }
}

@keyframes bgFloat2 {
    50% { transform: translateY(40px); }
}
/* ================= SPARKLE ================= */

.sparkle,
.sparkle::before,
.sparkle::after{
    content:"";
    position:absolute;
    inset:0;
    pointer-events:none;
}

/* lớp sao nhỏ */
.sparkle{
    background-image:
        radial-gradient(2px 2px at 20% 30%, rgba(255,255,255,0.9), transparent),
        radial-gradient(2px 2px at 70% 60%, rgba(255,255,255,0.8), transparent),
        radial-gradient(1.5px 1.5px at 40% 80%, rgba(255,255,255,0.7), transparent),
        radial-gradient(2px 2px at 90% 20%, rgba(255,255,255,0.9), transparent),
        radial-gradient(1.5px 1.5px at 10% 70%, rgba(255,255,255,0.8), transparent);
    animation: twinkle 4s linear infinite;
}

/* lớp sao to hơn */
.sparkle::before{
    background-image:
        radial-gradient(3px 3px at 30% 50%, rgba(255,255,255,0.7), transparent),
        radial-gradient(3px 3px at 60% 10%, rgba(255,255,255,0.7), transparent),
        radial-gradient(3px 3px at 80% 90%, rgba(255,255,255,0.7), transparent),
        radial-gradient(2px 2px at 2% 15%, rgba(255,255,255,0.9), transparent),
        radial-gradient(2px 2px at 5% 40%, rgba(255,255,255,0.7), transparent),
        radial-gradient(2px 2px at 3% 75%, rgba(255,255,255,0.8), transparent)
        radial-gradient(2px 2px at 98% 20%, rgba(255,255,255,0.9), transparent),
        radial-gradient(2px 2px at 95% 55%, rgba(255,255,255,0.7), transparent),
        radial-gradient(2px 2px at 97% 85%, rgba(255,255,255,0.8), transparent);
    animation: twinkle 7s linear infinite reverse;
}

/* lớp sao xa */
.sparkle::after{
    background-image:
        radial-gradient(2px 2px at 50% 40%, rgba(255,255,255,0.5), transparent),
        radial-gradient(2px 2px at 15% 10%, rgba(255,255,255,0.6), transparent),
        radial-gradient(2px 2px at 85% 70%, rgba(255,255,255,0.6), transparent)
        radial-gradient(2px 2px at 2% 15%, rgba(255,255,255,0.9), transparent),
        radial-gradient(2px 2px at 5% 40%, rgba(255,255,255,0.7), transparent),
        radial-gradient(2px 2px at 3% 75%, rgba(255,255,255,0.8), transparent)
        radial-gradient(2px 2px at 98% 20%, rgba(255,255,255,0.9), transparent),
        radial-gradient(2px 2px at 95% 55%, rgba(255,255,255,0.7), transparent),
        radial-gradient(2px 2px at 97% 85%, rgba(255,255,255,0.8), transparent);
    animation: twinkle 10s linear infinite;
}

@keyframes twinkle{
    50%{ opacity:0.3; }
}


